[Unit]
Description=Run Bumblebee catalog watcher hourly

[Timer]
OnCalendar=hourly
AccuracySec=1s
RandomizedDelaySec=0
OffsetSec=5min
Persistent=true

[Install]
WantedBy=timers.target
